venv/
storage/
.env
env
env.test
.cache*
__pycache__/
docker-compose-test.yml
.coverage
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
private_key.pem
Pipfile
Pipfile.lock
dagster_home/logs/
dagster_home/.logs_queue/
dagster_home/.telemetry/
key.pem
