# Spotify API
SPOTIFY_USERNAME=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:7777/callback
SPOTIFY_SCOPE=user-read-recently-played

# MySQL
MYSQL_HOST=de_mysql
MYSQL_PORT=3306
MYSQL_DATABASE=spotify
MYSQL_ROOT_PASSWORD=admin123
MYSQL_USER=root
MYSQL_PASSWORD=admin123

# PostgreSQL
POSTGRES_HOST=de_psql
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=spotify
POSTGRES_DB_DAGSTER=spotify_dagster
POSTGRES_DB_METABASE=spotify_metabase
POSTGRES_HOST_AUTH_METHOD=trust

# Dagster
DAGSTER_PG_HOSTNAME=de_psql
DAGSTER_PG_USERNAME=admin
DAGSTER_PG_PASSWORD=admin123
DAGSTER_PG_DB=spotify

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-southeast-1
S3_REGION=ap-southeast-1
DATALAKE_BUCKET=project-spotify-datalake
