dagster==1.0.8
dagster-graphql==1.0.8
dagit==1.0.8
dagster-postgres==0.16.8
dagster-slack==0.16.8
dagster-docker==0.16.8
dagster-dbt==0.16.8
ipython_genutils==0.1.0
protobuf==3.20.1
dbt-core==1.2.1
dbt-postgres==1.2.1
pyodbc==4.0.34
PyMySQL==1.0.2
pytest==7.1.3
pylint==2.15.2
pytest-cov==3.0.0
